body {
  background-color: antiquewhite;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.jumbotron {
  color: #D0C7B4;
  background-color: #18191c;
  margin: 5px;
}

.jumbotron img {
  border-radius: 40%;
  float: right;
  width: 200px;
  height: auto;
}

a {

  margin-right: 20px;
  color: bisque;
}

.card  {
  background-color: #3a4042;
  color: white;
  padding: 1px;
  border: solid #F6BC7D 3px;
  margin: 3px;
}

em.currentpage {
  text-decoration: underline;
  font-weight: bold;
}

#resume {

  background-color: red;

}