body {
  background-color: antiquewhite;

}

.jumbotron {
  color: #D0C7B4;
  background-color: #18191c;
  margin: 5px;
}

.jumbotron img {
  border-radius: 40%;
  float: right;
  width: 200px;
  height: auto;
}

a {

  margin-right: 20px;
  color: bisque;
}

.card  {
  background-color: #3a4042;
  color: white;
}